<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='about/style.css') }}">
    <title>Team profile cards</title>
</head>
<body>
<div class="intro">
 <h1>Our Amazing Team</h1></br>
    <p>Welcome to our team profile page. Meet the talented individuals who make our projects come to life!</p></br>
</div>   
 <div class="card">
        <div class="card-image">
            <img src="{{ url_for('static', filename='about/images/mani.jpeg') }}" alt="Profile image">
        </div>
        <p class="name">MANIKANTA</p>
        <p>web developer</p>
        <p>warangal</p>
        <div class="socials">
            <a href="https://www.linkedin.com/in/mani1028" target="_blank" rel="noopener noreferrer">
            <button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
            <a href="https://github.com/mani1028" target="_blank" rel="noopener noreferrer">
            <button class="github"><i class="fab fa-github"></i></button></a>
            <a href="https://mani1028.github.io/my-portifilo/" target="_blank" rel="noopener noreferrer">
                <button class="portfolio" style="background-color: black;">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                </button>
            </a>
            <a href="https://www.instagram.com/_mani__x96_/" target="_blank" rel="noopener noreferrer">
            <button class="instagram"><i class="fab fa-instagram fa-lg"></i></button></a>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="{{ url_for('static', filename='about/images/bhumika.jpg') }}" alt="Profile image">
        </div>
        <p class="name">bhumika</p>
        <p>Front-End developer</p>
        <p>kothuru</p>
        <div class="socials">
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="github"><i class="fab fa-github"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="twitter"><i class="fab fa-twitter"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="instagram"><i class="fab fa-instagram fa-lg"></i></button></a>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="{{ url_for('static', filename='about/images/pravali.jpg') }}" alt="Profile image">
        </div>
        <p class="name">pravalika</p>
        <p>Back-End developer</p>
        <p>warangal</p>
        <div class="socials">
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="github"><i class="fab fa-github"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="twitter"><i class="fab fa-twitter"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="instagram"><i class="fab fa-instagram fa-lg"></i></button></a>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="{{ url_for('static', filename='about/images/sreyas.jpg') }}" alt="Profile image">
        </div>
        <p class="name">sreyas</p>
        <p>Back-End developer</p>
        <p>back bone of web </br>lives in kothagudem</p>
        <div class="socials">
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="github"><i class="fab fa-github"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="twitter"><i class="fab fa-twitter"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="instagram"><i class="fab fa-instagram fa-lg"></i></button></a>
     </div>
    </div>
   
    <div class="card">
        <div class="card-image">
            <img src="{{ url_for('static', filename='about/images/sai.jpg') }}" alt="Profile image">
        </div>
        <p class="name">saikrishna</p>
        <p>Back-End developer</p>
        <p>peddapelli</p>
        <div class="socials">
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="github"><i class="fab fa-github"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="twitter"><i class="fab fa-twitter"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="instagram"><i class="fab fa-instagram fa-lg"></i></button></a>
        </div>
    </div>

     <div class="card">
        <div class="card-image">
            <img src="{{ url_for('static', filename='about/images/avinash.jpg') }}" alt="Profile image">
        </div>
        <p class="name">avinash</p>
        <p>Back-End developer</p>
        <p>warangal</p>
        <div class="socials">
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="github"><i class="fab fa-github"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="twitter"><i class="fab fa-twitter"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="instagram"><i class="fab fa-instagram fa-lg"></i></button></a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-image">
            <img src="{{ url_for('static', filename='about/images/neha.jpg') }}" alt="Profile image">
        </div>
        <p class="name">neha</p>
        <p>Back-End developer</p>
        <p>warangal</p>
        <div class="socials">
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="github"><i class="fab fa-github"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="twitter"><i class="fab fa-twitter"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="instagram"><i class="fab fa-instagram fa-lg"></i></button></a>
        </div>
    </div>

       <div class="card">
        <div class="card-image">
            <img src="{{ url_for('static', filename='about/images/sathvika.jpg') }}" alt="Profile image">
        </div>
        <p class="name">sathvika</p>
        <p>Back-End developer</p>
        <p>warangal</p>
        <div class="socials">
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="github"><i class="fab fa-github"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="twitter"><i class="fab fa-twitter"></i></button></a>
            <a href="www.youtube.com" target="_blank" rel="noopener noreferrer">
            <button class="instagram"><i class="fab fa-instagram fa-lg"></i></button></a>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Your Company Name. All rights reserved.</p>
    </footer>
</body>
</html>